TorchSharp.dll filter=lfs diff=lfs merge=lfs -text
FlipProof.Base.pdb filter=lfs diff=lfs merge=lfs -text
ReidImaging.Dicom filter=lfs diff=lfs merge=lfs -text
ReidImaging.Dicom.pdb filter=lfs diff=lfs merge=lfs -text
libc10.so filter=lfs diff=lfs merge=lfs -text
libgomp-98b21ff3.so.1 filter=lfs diff=lfs merge=lfs -text
libjitbackend_test.so filter=lfs diff=lfs merge=lfs -text
CreateDicom.deps.json filter=lfs diff=lfs merge=lfs -text
CreateDicom.runtimeconfig.json filter=lfs diff=lfs merge=lfs -text
FlipProof.Torch.dll filter=lfs diff=lfs merge=lfs -text
libbackend_with_compiler.so filter=lfs diff=lfs merge=lfs -text
libtorch_global_deps.so filter=lfs diff=lfs merge=lfs -text
Google.Protobuf.dll filter=lfs diff=lfs merge=lfs -text
ICSharpCode.SharpZipLib.dll filter=lfs diff=lfs merge=lfs -text
ReidImaging.Dicom.runtimeconfig.json filter=lfs diff=lfs merge=lfs -text
CreateDicom.dll filter=lfs diff=lfs merge=lfs -text
FlipProof.Image.pdb filter=lfs diff=lfs merge=lfs -text
ReidImaging.Dicom.deps.json filter=lfs diff=lfs merge=lfs -text
FlipProof.ITK.pdb filter=lfs diff=lfs merge=lfs -text
ReidImaging.Dicom.dll filter=lfs diff=lfs merge=lfs -text
SimpleITKCSharpManaged.dll filter=lfs diff=lfs merge=lfs -text
FlipProof.Image.dll filter=lfs diff=lfs merge=lfs -text
FlipProof.Torch.pdb filter=lfs diff=lfs merge=lfs -text
SkiaSharp.dll filter=lfs diff=lfs merge=lfs -text
libshm.so filter=lfs diff=lfs merge=lfs -text
libtorch_python.so filter=lfs diff=lfs merge=lfs -text
CreateDicom.pdb filter=lfs diff=lfs merge=lfs -text
FlipProof.Base.dll filter=lfs diff=lfs merge=lfs -text
FlipProof.ITK.dll filter=lfs diff=lfs merge=lfs -text
libtorch.so filter=lfs diff=lfs merge=lfs -text
CreateDicom filter=lfs diff=lfs merge=lfs -text
libSimpleITKCSharpNative.so filter=lfs diff=lfs merge=lfs -text
libnnapi_backend.so filter=lfs diff=lfs merge=lfs -text
libLibTorchSharp.so filter=lfs diff=lfs merge=lfs -text
libtorch_cpu.so filter=lfs diff=lfs merge=lfs -text
libtorchbind_test.so filter=lfs diff=lfs merge=lfs -text
